{% include git-wiki/defines/defines.html %}

<!doctype html>
<html>
{% include git-wiki/sections/head/head.html %}
 <div class="episode_container">
          <header class="episode-title"><h1>{{ post.title }}</h1></header>
         
        
          <h3> {{ post.episode_teaser }} </h3>
           
     
           <p> Air date: {{ air_date }} </p>
  
           <p> Episode No.: {{ page.episode_num }}</p>

           <p> Season No.: {{ page.season_num }}</p>

           <p> Length: {{ page.episode_length }} </p>

           <p> No. Stories: {{ page.num_stories }}</p>

           <p> Theme: {{ page.theme_type}}</p>
  </div>

{% include git-wiki/sections/content/body.html %}

</html>
