<div class="git-wiki-page">
  <section>

    {% include git-wiki/sections/tools/tools.html %}

    {% include git-wiki/components/toc/toc.html %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-content">
      
       <div class="episode_container">
          <header class="episode-title"><h1>{{ site.title }}</h1></header>
         
        
          <h3> {{ site.episode_teaser }} </h3>
           
     
           <p> Air date: {{ air_date }} </p>
  
           <p> Episode No.: {{ page.episode_num }}</p>

           <p> Season No.: {{ page.season_num }}</p>

           <p> Length: {{ page.episode_length }} </p>

           <p> No. Stories: {{ page.num_stories }}</p>

           <p> Theme: {{ page.theme_type}}</p>
           {{ content }}
      
        </div>
    </div>

    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </section>
</div>
